// Mobile
.courses{
    margin: 3rem;
    >h1{
        margin: 2rem 0;
        text-align: center;
    }
    &__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
}

// Card
.course-card {
    border: 1px solid black;
    width: 100%;
    height: 18rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    -webkit-box-shadow: 4px 2px 36px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 36px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 2px 36px 2px rgba(0,0,0,0.75);
    
    &__level{
      padding: 1rem;
    }
    
    &:hover{
      animation-name: zoom;
      animation-duration: .5s;
      transform: scale(1.1, 1.1);
    }
    
    &__content{
      display: flex;
      justify-content: space-between;
      margin: 0.5rem;

      &_titlebox{
        align-self: flex-end;
      }
      
      >.logo{
        font-size: 3rem;
        margin: 0rem 1rem;
      }
    }
}
  

// Tablet
@media (min-width: 750px){
    .courses{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Laptop
@media (min-width: 1250px){
    .courses{
        &__content{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}