// Mobile
.hero{
    display: flex;
    flex-direction: column;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7))
    , url('../img/home_bg.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    >.text-section{
        margin: auto;
    }

}

// Tablet
@media (min-width: 750px){

}

// Laptop
@media (min-width: 1022px){

}