// Mobile
.navbar {
    position: absolute;
    width: 100%;
    height: 10vh;
    background: transparent;
    z-index: 10;

    >.container{
        display: flex;
        justify-content: space-between;
        >.page-links{
            display: flex;
            justify-content: center;
            align-items: center;
            >.route{
                font-size: 1.7rem;
                color: white;
                border-bottom: 3px solid transparent;
                margin: 1rem;
                padding: 1rem;
            }

            >.route:hover{
                border-bottom: 3px solid white;
            }
        }

        >.members-sections{
            display: flex;
            margin: 1rem;
            padding: 1rem;
            justify-content: center;
            align-items: center;
        }

    }
}

// Tablet
@media (min-width: 750px){

}

// Laptop
@media (min-width: 1022px){

}