#transfromNavbar{
    background-color: rgba(0,0,0,0.9);
    transform: background;
    transition-duration: 2s;
}

#normalNavbar{
    background-color: transparent;
    transform: background;
    transition-duration: 2s;
}

// Mobile
.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    background: transparent;
    z-index: 10;
    >.container{
        // if the navbar is set to horizontial
        >.horizontial{
            display: flex;
            justify-content: space-between;
            >.page-links{
                display: flex;
                justify-content: center;
                align-items: center;
                >.route{
                    font-size: 1.7rem;
                    color: rgba(255,255,255,0.6);
                    border-bottom: 3px solid transparent;
                    margin: 0.5rem;
                    padding: 1rem 0.5rem;
                }
    
                >.active{
                    color: white;
                    border-bottom: 3px solid white;
                }
    
                >.route:hover{
                    color: rgba(255,255,255,0.8)
                }
            }
            
            // Horizontial navbar members section
            >.members-sections{
                display: flex;
                margin: 1rem;
                padding: 1rem;
                justify-content: center;
                align-items: center;
            }
        }

        >.vertical{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >.menu-bar{
                display: flex;
                justify-content: space-between;
                align-items: center;

                >.logo{
                    color: #e67e22;
                    justify-content: center;
                    
                    margin: 1.25rem 0rem;
                }
                >.hamburger-menu{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 2rem;
                    width: 2rem;
                    margin: 2rem;
                    .line{
                        border: 1px solid white;
                    }
                }
            }
            >.page-links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                >.route{
                    font-size: 1.7rem;
                    color: rgba(255,255,255,0.6);
                    border-bottom: 3px solid transparent;
                    margin: 0.5rem;
                    padding: 1rem 0.5rem;
                }
    
                >.active{
                    color: white;
                }
    
                >.route:hover{
                    border-bottom: 3px solid white;
                }
            }
            
            // Horizontial navbar members section
            >.members-sections{
                display: flex;
                margin: 1rem;
                padding: 1rem;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// Tablet
@media (min-width: 750px){

}

// Laptop
@media (min-width: 1022px){

}